<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575368380690-17acrduojg9fro1ec4svqkv2bi4t1cqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575368380690-17acrduojg9fro1ec4svqkv2bi4t1cqk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>575368380690-cjh61dentqe96r11v00mcahe4ok5nlka.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVpwd4tLp6SVrZtmffO3rXBSuHpOv9JhI</string>
	<key>GCM_SENDER_ID</key>
	<string>575368380690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterModApp</string>
	<key>PROJECT_ID</key>
	<string>somernproject</string>
	<key>STORAGE_BUCKET</key>
	<string>somernproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575368380690:ios:e8800cd91a27d2368273cb</string>
</dict>
</plist>